<!doctype html>
<html ng-app="FreshlyPressed">
	<head>
		<meta charset="UTF-8">
		<title>FreshlyPressed</title>

		<!-- Ionic Libs -->
		<link rel="stylesheet" type="text/css" href="lib/ionic/css/ionic.css">
		<script type="text/javascript" src="lib/ionic/js/ionic.bundle.js"></script>

		<script type="text/javascript" src="cordova.js"></script>

		<!-- My apps -->
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script type="text/javascript" src="js/app.js"></script>
	</head>
	<body ng-controller="MainCtrl">
		<div class="bar bar-header bar-calm">
		  	<h1 class="title">Freshly Pressed</h1>
		  	<button class="button" ng-click="refresh()">
		  		<i class="icon ion-refresh"></i>
		  	</button>
		</div>
		<br>
		<ion-content>
			<ion-refresher on-refresh="refresh()"></ion-refresher>
			<div ng-show="!posts.length">
				<br><br>
				<center>
					<h1>Pull to Refresh</h1>
				</center>
			</div>
			<div class="card list" ng-repeat="p in posts">
				<div class="item item-avatar-left">
					<img ng-src="{{ p.author.avatar_URL }}">
					<h2>{{ p.author.nice_name }}</h2>
					<p><a href="{{ p.author.URL }}">{{ p.author.URL }}</a></p>
				</div>
				<div class="item item-body">
					<h1>{{ p.title }}</h1>
					<div ng-bind-html="p.content">
						<p>{{ p.content }}</p>
					</div>
				</div>
			</div>
		</ion-content>
	</body>
</html>